<!DOCTYPE html>
<html>

  <head>
    <%- partial('_partial/head') %>
  </head>

  <body>

    <%- partial('_partial/menu') %>

    <section class="section">
      <div class="container">

        <div class="columns is-mobile is-centered">
          <div class="column is-three-quarters-tablet is-two-thirds-desktop is-half-widescreen">
            <%- body %>
          </div>
        </div>

      </div>
    </section>

    <footer class="footer">
      <div class="container">
        <div class="content has-text-centered">
          <p><strong>Torres Baldi Studio</strong></p>
          <p>Diseño de <a href="http://molotec.com">Molotec Soluciones</a>.</p>
        </div>
      </div>
    </footer>

  </body>
</html>