<div class="card">
  <div class="card-content">

    <p class="title">
      <a href="<%- url_for(item.path) %>">
        <%- item.title %>
      </a>
    </p>

    <div class="content">
      <%- item.excerpt %>
    </div>

  </div>
</div>
